[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/hugo-alageek-theme"]
	path = themes/hugo-alageek-theme
	url = https://github.com/gkmngrgn/hugo-alageek-theme.git
