@import "burger";

.nav {
  font-size: 16px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  visibility: hidden;
  z-index: 1;

  @media screen and (min-width: $medium) {
    display: block;
    visibility: visible;
    padding-top: 3em;
    width: $navWidth;
  }
}

.nav--active .nav {
  visibility: visible;
  height: 100%;
  width: 100%;

  @media screen and (min-width: $medium) {
    width: $navWidth;
  }
}

.nav__list {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;

  @media screen and (min-width: $medium) {
    width: auto;
  }

  @media screen and (max-width: $medium - 1) {
    transform: translateY(-25px);
    opacity: 0;

    .nav--active & {
      transform: translateY(0);
      opacity: 1;
      transition: all 500ms ease;
    }
  }
}

.nav__list li {
  margin-bottom: 3em;
  line-height: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: $medium) {
    margin-bottom: 1.75em;
  }
}

.nav__list a {
  color: $grey;
  text-decoration: none;
  font-size: 2em;

  &.active {
    color: $black;
  }

  &:hover {
    color: $black;
  }

  @media screen and (min-width: $medium) {
    font-size: 1em;
  }
}

// button and colors
// colors
:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;

  --borderRadius: 5px;

  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// button styles
.button {
  display: flex;
  overflow: hidden;

  width: 50%;
  margin: 5px 0px 5px 20px;
  padding: 5px 5px;
  float: right;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 2em;
  font-weight: 500;
  line-height: 1.3;

  @media screen and (min-width: $medium) {
    font-size: 1em;
    width: $navWidth * 0.5;
  }

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: right;
  align-items: right;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-regular {
  color: $primary;
  background-color: $white;

  &:hover {
    color: #e7ff20;
    background-color: var(--color-flower);
    opacity: 1;
  }

  &:active {
    color: $white;
    background-color: $primary;
    opacity: 1;
  }
}

.button.-blue {
  color: var(--color-ocean);
  background: var(--color-snow);

  &:hover {
    color: #e7ff20;
    background-color: var(--color-flower);
    opacity: 1;
  }

  &:active {
    color: var(--color-ocean);
    background-color: var(--color-snow);
    opacity: 1;
  }
}

.button.-alge {
  color: #e7ff20;
  background: var(--color-alge);
}

.button.-flower {
  color: #FE8CDF;
  background: var(--color-flower);
}