@import "overrides.scss";

html,
body {
  font-family: Roboto, Futura, Roboto Condensed, serif;
  background-color: $dark;
}

.splash-container {
  .splash {
    h1 {
      font-size: 2.5em;
      font-weight: 600;
      color: $primary;
      font-family: Futura;

      span {
        color: $tertiary;
      }
    }

    .handle {
      font-size: 16px;
      color: $fourth;
      opacity: 0.75;
      font-family: Roboto Condensed;
    }

    h2 {
      font-size: 1.5em;
      color: $secondary;
      margin: 0;
    }
  }
}

#about-container {
  max-width: 34rem;
  width: 100%;
  padding-left: 50px;
  margin: 0 auto;
  font-size: 15px;
  font-family: Roboto;
  font-weight: Regular;
  justify-content: flex-start;
  flex-direction: column;
}

#about {
  padding-top: 2em;
  padding-bottom: 2em;
}

.about-text {
  margin-top: 2em;
}

.front-matter .hub {
  font-family: Roboto Condensed, monospace, sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
  color: $primary;

  .hub-list {
    margin-top: 0;
    display: inline-flex;
    flex-direction: column;

    a {
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }
}

.nav {
  background-color: $dark;

  .nav__list a {
    color: $primary;
    text-decoration: none;
    font-size: 2em;

    &.active {
      color: $secondary;
    }

    &:hover {
      color: $secondary;
    }

    @media screen and (min-width: $medium) {
      font-size: 1em;
    }
  }
}

.post-list {
  .post__header time {
    font-family: Roboto Condensed, monospace;
    color: $fourth;
  }

  .post__title a {
    color: $secondary;
  }
}

.tag__link {
  color: $primary;
  background-color: $dark;
}

.tag__link::before {
  content: "#";
  color: $primary;
}

.tag__link:hover {
  color: $highlight;
  background-color: $dark;
}

.burger__container {
  background-color: $darker;
  box-shadow: 0 1px;

  .burger__meat {
    background-color: $tertiary;
  }
}

#about-container {
  color: $primary;

  a {
    color: $highlight;
  }
}

.post-list__container .tag__header {

  a,
  span {
    color: $primary;
  }

  .tag__term {
    color: $highlight;
  }
}

.post__footer {
  background-color: $dark;
}

.post {
  h1 {
    color: $secondary;
  }

  time {
    color: $tertiary;
  }
}

.post .post__content {
  p {
    color: $primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary;
  }

  blockquote::before {
    color: $tertiary;
    opacity: 0.5;
  }

  blockquote {
    p {
      color: $tertiary;
    }

    cite {
      color: $fourth;
    }
  }

  table {
    thead {
      background-color: $darker;
    }

    th {
      color: $tertiary;
      // border: $fourth;
      border-color: $darker;
    }

    td {
      color: $tertiary;
      border-color: $darker;
    }
  }

  .language-html {
    // box-shadow: 0 1px;
    border-radius: 10px;
  }

  li {
    color: $primary;
  }

  abbr {
    color: $tertiary;
  }

  kbd {
    // background-color: $tertiary;
    color: $tertiary;
    font-family: Roboto Condensed, monospace;
  }

  code {
    background-color: $tertiary;
    color: $darker;
    font-family: Roboto Condensed, monospace;
    border-radius: 3px;
  }

  pre {
    background-color: $darker;

    code {
      background-color: $darker;
      color: $tertiary;
      font-family: Roboto Condensed, monospace;
    }
  }

  .MathJax_SVG_Display {
    color: $tertiary;
  }

  mark {
    background-color: $highlight;
    color: $dark;
    border-radius: 3px;
  }

  hr {
    color: $secondary;
  }

  a {
    color: $highlight;
  }

  .tag__item {
    tag__link::before {
      background-color: $darker;
    }
  }

  .twitter-tweet {
    color: $tertiary;
  }
}

#disqus_thread {
  color: $highlight;
}

.dsq-brlink {
  color: $highlight;
}

.post__footer p {
  color: $secondary;
}

.pagination__item {
  background-color: $dark;

  .pagination__label {
    color: $tertiary;
  }

  .pagination__title {
    color: $secondary;
  }
}

.pagination__item:hover {
  background-color: $darker;
}

#TableOfContents a {
  color: $darker;
}

#TableOfContents a.active {
  color: $highlight;
}

// homepage css effect