// The following variables can be overridden

// The primary accent color can take any css color property, including hex, named props, rgba etc.
// $primary: cornflowerblue;
// $dark: #282937;

$dark: #232946;
$darker: #121629;
$primary: #b8c1ec;
$secondary: #fffffe;
$tertiary: #eebbc3;
$fourth: #d4939d;
$highlight: #ccff02;

$medium: 800px;