<div class="front-matter">
  <nav class="hub">
    <p>qrui %>% </p>
    <ul class="hub-list">
      <!-- <a class="hub-link" href="/blog">/blog</a> -->
      <!-- <a class="hub-link" href="/now">/now</a> -->
      <!-- <a class="hub-link" href="https://interetro.rbind.io/uses/">/uses</a> -->
      <a class="hub-link" href="https://airavo.netlify.app/">browseGallery() %>%</a>
      <a class="hub-link" href="https://t.me/itsnopie">ringTelegram() %>%</a>
      <a class="hub-link" href="mailto:qiurui416@gmail.com">sendMail() %>%</a>
      <a class="hub-link" href="https://twitter.com/rexarski/">tweetTwittr() %>%</a>
      <a class="hub-link" href="https://github.com/rexarski">confirmGithubLurker() %>%</a>
      <a class="hub-link" href="https://pinboard.in/u:rexarski">pinBoard() %>%</a>
      <a class="hub-link" href="https://interetro.rbind.io/">restoreArchive()</a>
    </ul>
  </nav>
</div>