<div class="front-matter">
  <nav class="hub">
    <p>qrui %>% </p>
    <ul class="hub-list">
      <!-- <a class="hub-link" href="/blog">/blog</a> -->
      <!-- <a class="hub-link" href="/now">/now</a> -->
      <!-- <a class="hub-link" href="https://interetro.rbind.io/uses/">/uses</a> -->
      <a class="hub-link" href="/index.xml">rss() %>%</a>
      <a class="hub-link" href="https://airavo.netlify.app/">gallery() %>%</a>
      <a class="hub-link" href="https://t.me/itsnopie">telegram() %>%</a>
      <a class="hub-link" href="mailto:qiurui416@gmail.com">email() %>%</a>
      <a class="hub-link" href="https://twitter.com/rexarski/">twitter() %>%</a>
      <a class="hub-link" href="https://github.com/rexarski">github() %>%</a>
      <a class="hub-link" href="https://pinboard.in/u:rexarski">pinboard() %>%</a>
      <a class="hub-link" href="https://interetro.rbind.io/">archive()</a>
    </ul>
  </nav>
</div>